.container {
  margin: auto;
  max-width: 700px;
}

.btn-adc {
  margin-left: 15px;
}

.done {
  text-decoration: line-through;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  width: 100%;
  padding: 10px;
  margin-top: 6px;
}

.card {
  box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addButton:hover {
  background-color: grey;
}
.addButton {
  width: 50px;
  height: 50px;
  font-size: 30px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 25px;
}

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.hide {
  display: none;
}

.cardModal {
  padding: 20px;
  background-color: white;
}
